USE [ispp4103]
GO
/****** Объект:  Table [dbo].[Category]    Дата создания скрипта: 20.06.2026 21:59:30 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Manufacturer]    Дата создания скрипта: 20.06.2026 21:59:30 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ManufacturerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[OrderFinal]    Дата создания скрипта: 20.06.2026 21:59:30 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderFinal](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NULL,
	[UserId] [int] NULL,
	[ReceiptCode] [nvarchar](10) NOT NULL,
	[StatusId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[OrderItem]    Дата создания скрипта: 20.06.2026 21:59:30 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[OrderStatus]    Дата создания скрипта: 20.06.2026 21:59:30 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Product]    Дата создания скрипта: 20.06.2026 21:59:30 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Article] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Unit] [nvarchar](10) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Author] [nvarchar](200) NULL,
	[ManufacturerId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[Stock] [int] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Photo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Role]    Дата создания скрипта: 20.06.2026 21:59:30 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[User]    Дата создания скрипта: 20.06.2026 21:59:30 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (1, N'Художественная литература')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (2, N'Учебник для вузов')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (3, N'Хрестоматия')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturer] ON 

INSERT [dbo].[Manufacturer] ([ManufacturerId], [Name]) VALUES (1, N'Яуза')
INSERT [dbo].[Manufacturer] ([ManufacturerId], [Name]) VALUES (2, N'Т8 Издательские технологии')
INSERT [dbo].[Manufacturer] ([ManufacturerId], [Name]) VALUES (3, N'Прогресс книга')
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderFinal] ON 

INSERT [dbo].[OrderFinal] ([OrderId], [OrderNumber], [OrderDate], [DeliveryDate], [UserId], [ReceiptCode], [StatusId]) VALUES (1, 1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 10, N'901', 3)
INSERT [dbo].[OrderFinal] ([OrderId], [OrderNumber], [OrderDate], [DeliveryDate], [UserId], [ReceiptCode], [StatusId]) VALUES (2, 2, CAST(N'2025-03-28' AS Date), CAST(N'2025-04-21' AS Date), 7, N'789', 2)
INSERT [dbo].[OrderFinal] ([OrderId], [OrderNumber], [OrderDate], [DeliveryDate], [UserId], [ReceiptCode], [StatusId]) VALUES (3, 3, CAST(N'2025-02-20' AS Date), CAST(N'2026-04-22' AS Date), NULL, N'852', 3)
SET IDENTITY_INSERT [dbo].[OrderFinal] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([OrderItemId], [OrderId], [ProductId], [Quantity]) VALUES (1, 1, 1, 2)
INSERT [dbo].[OrderItem] ([OrderItemId], [OrderId], [ProductId], [Quantity]) VALUES (2, 2, 2, 1)
INSERT [dbo].[OrderItem] ([OrderItemId], [OrderId], [ProductId], [Quantity]) VALUES (3, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([StatusId], [Name]) VALUES (1, N'Новый')
INSERT [dbo].[OrderStatus] ([StatusId], [Name]) VALUES (2, N'В обработке')
INSERT [dbo].[OrderStatus] ([StatusId], [Name]) VALUES (3, N'Завершен')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [Article], [Name], [Unit], [Price], [Author], [ManufacturerId], [CategoryId], [Discount], [Stock], [Description], [Photo]) VALUES (1, N'А112Т4', N'Прокляты и убиты', N'шт.', CAST(585.00 AS Decimal(10, 2)), N'Виктор Астафьев', 1, 1, 25, 6, N'Роман-эпопею "Прокляты и убиты" Виктора Астафьева по праву считают одним из самых сильных и пронзительных произведений отечественной военной прозы.', N'1.jpg')
INSERT [dbo].[Product] ([ProductId], [Article], [Name], [Unit], [Price], [Author], [ManufacturerId], [CategoryId], [Discount], [Stock], [Description], [Photo]) VALUES (3, N'D325D4', N'Девайс', N'шт.', CAST(1599.00 AS Decimal(10, 2)), N'Кирилл Каланджи', 2, 1, 5, 12, N'Молодой фрилансер Захар Скаро устраивается на очередную подработку. Задача, казалось бы, тривиальная: тестирование нового устройства. Вот только вопрос в том, тестированием какой реальности занимается этот новый Девайс?', N'3.jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (3, N'Авторизированный клиент')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [FullName], [Login], [Password], [RoleId]) VALUES (1, N'Никифорова Анна Семеновна', N'94d5ous@gmail.com', N'uzWC67', 1)
INSERT [dbo].[User] ([UserId], [FullName], [Login], [Password], [RoleId]) VALUES (2, N'Стелина Евгения Петровна', N'uth4iz@mail.com', N'2L6KZG', 1)
INSERT [dbo].[User] ([UserId], [FullName], [Login], [Password], [RoleId]) VALUES (3, N'Михайлюк Анна Вячеславовна', N'5d4zbu@tutanota.com', N'rwVDh9', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Объект:  Index [UQ__OrderFin__CAC5E74316174425]    Дата создания скрипта: 20.06.2026 21:59:31 ******/ 
ALTER TABLE [dbo].[OrderFinal] ADD UNIQUE NONCLUSTERED 
(
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__Product__4943444ACAF03F16]    Дата создания скрипта: 20.06.2026 21:59:31 ******/ 
ALTER TABLE [dbo].[Product] ADD UNIQUE NONCLUSTERED 
(
	[Article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Объект:  Index [UQ__User__5E55825BAB03FD62]    Дата создания скрипта: 20.06.2026 21:59:31 ******/ 
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderItem] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ('шт.') FOR [Unit]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[OrderFinal]  WITH CHECK ADD  CONSTRAINT [FK_OrderFinal_OrderStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[OrderStatus] ([StatusId])
GO
ALTER TABLE [dbo].[OrderFinal] CHECK CONSTRAINT [FK_OrderFinal_OrderStatus]
GO
ALTER TABLE [dbo].[OrderFinal]  WITH CHECK ADD  CONSTRAINT [FK_OrderFinal_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[OrderFinal] CHECK CONSTRAINT [FK_OrderFinal_User]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_OrderFinal] FOREIGN KEY([OrderId])
REFERENCES [dbo].[OrderFinal] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_OrderFinal]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Manufacturer] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturer] ([ManufacturerId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Manufacturer]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
